/* DIMENSION: WIDTH 1329px*/


#banner {
    background: black;
    border: 4px solid #F3774D;
    color: white;
    margin-bottom: 2px;
}

figcaption {
    width: 240px;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}

#contact {
    position: absolute;
    top: 20px;
    right: 20px;
}

.phone {
    margin: 5px;
    font-size: 22px;
    font-weight: bold;
}

.email {
    margin-bottom: 10px;
}

#social {
    margin-top: 15px;
    margin-left: 10px;
}

#search {
    position: absolute;
    bottom: 5px;
    right: 40px;
}

#text {
    width: 100px;
}

input[type="text"] {
    border-radius: 3px;
}

input[type="submit"]{
    background-color: transparent;
    background: url('image/search.png') no-repeat;
    display: inline-block;
    cursor: pointer;
    height: 25px; /*height of the background image*/
    width: 28px; /*width of the background image*/
    border: none;
    color: rgba(0, 0, 0, 0.0);
}

nav {
    background: #808080;
    border: 6px groove #2ABDC7;
    margin: 2px;
}

    nav a {
        margin: 15px;
        color: white;
    }

#inner-border {
    border: 3px inset #B0B0B0;
}

header { 

}
body{
    background-color:white;
}

.main{    
    margin-top:100px;
    width: auto;
    height:800px;
    margin-left:0px;
    margin-right:0px;
}

#video{
	margin-top: 0px;
    padding: 5px;
    text-align: center;
    background-color: black;
    width: auto;
    height: 720px;
}

#left{
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin:5px;
    margin-left: 9px;
    margin-right:285px;
}

#center{
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin: 5px;
    margin-left:25px;
    margin-right: 325px;
}

#right{
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin:5px;
    margin-left:0px;
}

#Tri-BoxImg{
    position:relative;
    background-color:white;
    margin-left: 70px;
    margin-top: 50px;
    border: 4px solid #F3774D;
    
}
#Tri-BoxH2{
    margin-left:125px;
}
#Tri-BoxList{
    margin-left: 70px;
}
li{
    padding:5px;
}



.main2{
      background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%);
}
.main2 > img{
    float: left;
    margin: 10px;
    border: 10px inset #ffffff;
    
}

#left2{
    background-color:white;
    float: left;
    width:35px;
    height:450px;
    margin:15px;
    margin-left: 130px;
    margin-right:21px;
}

#right2{
    background-color:orange;
    float: left;
    width:785px;
    height:750px;
    margin:25px;
    margin-left:75px;
}


a[href^="tel:"] {

color: rgb(102,102,153);

text-decoration: none;

margin-right: 0.5em;

}

#left2 > img{
    margin: 10px;
    
}


footer {
	margin: 5px;
	height: 150px;
	width:800px;
	background-color:darkgray;
	color:rgb(102,102,153);
	text-align:center;
	}