/* DIMENSION: WIDTH 1329px*/


#banner {
    background: black;
    border: 4px solid #F3774D;
    color: white;
    margin-bottom: 2px;
    z-index: -1;
}

figcaption {
    width: 240px;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    z-index: 1;
}

#headerCenter{
    text-align: center;
    margin-top: -60px;
    margin-left: 500px;
    margin-right: 500px;
    z-index: 2;
    clear: both;
    font-size: 25px;
}

#contact {
    position: absolute;
    top: 20px;
    right: 20px;
}

.phone {
    margin: 5px;
    font-size: 22px;
    font-weight: bold;
}

.email {
    margin-bottom: 10px;
}

#social {
    margin-top: 15px;
    margin-left: 10px;
}

#search {
    position: absolute;
    bottom: 5px;
    right: 40px;
}

#text {
    width: 100px;
}

input[type="text"] {
    border-radius: 3px;
}

input[type="submit"]{
    background-color: transparent;
    background: url('image/search.png') no-repeat;
    display: inline-block;
    cursor: pointer;
    height: 25px; /*height of the background image*/
    width: 28px; /*width of the background image*/
    border: none;
    color: rgba(0, 0, 0, 0.0);
}

nav {
    background: #808080;
    border: 6px groove #2ABDC7;
    margin: 2px;
}

    nav a {
        margin: 15px;
        color: white;
    }

#inner-border {
    border: 3px inset #B0B0B0;
}


#arrow{
    text-align: center;
    margin-top: -75px;
    z-index: 1;
    
}

body{
    background-color:white;
}

.main{    
    margin-top:100px;
    width: auto;
    height:900px;
    margin-left:0px;
    margin-right:0px;
   
}

#video{
	margin-top: 0px;
    padding: 8px;
    text-align: center;
    background-color: black;
    width: auto;
    height: 720px;
    z-index: -1;
}

#left{
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin:5px;
    margin-left: 9px;
    margin-right:305px;
    box-shadow: 15px 15px 15px grey;
}

#center{
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 315px;
    box-shadow: 15px 15px 15px grey;
}

#right{
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin:5px;
    margin-left:0px;
    box-shadow: 15px 15px 15px grey;
    
}

#Tri-BoxImg{
    position:relative;
    background-color:white;
    margin-left: 70px;
    margin-top: 50px;
    border: 4px solid #F3774D;
    
}
#Tri-BoxH2{
    margin-left:125px;
}
#Tri-BoxList{
    margin-left: 70px;
}
li{
    padding:5px;
}

/*
.main2{
      background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%);
}
*/

#BioBox{
    background: linear-gradient(darkgray, #F3774D); 
    z-index: -1;
    float: left;
    margin: 10px;
    width: 875px;
    height: 800px;
    text-align: center;
    padding: 0px;
    color: black;
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 20px;
            
}

#left2{
    background-color:white;
    border: 6px inset ;
    outline: 5px solid black;
    float: right;
    width:420px;
    height:689px;
    margin:5px;
    margin-left: 0px;
    margin-right:15px;
    margin-top: 5px;
}

#BioImg {
    float: left;
    border: 6px inset ;
    outline: 5px solid black;
    margin: 10px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 0px;
    
}

#CheckList{
    background-color: white;
    width: 907px;
    height: 690px;
    margin: 15px;
    border: 6px inset ;
    outline: 5px solid black;
    margin-top: 26px;
    
}


#right2{
    background: linear-gradient(darkgray, #F3774D);
    float: right;
    width:950px;
    height:801px;
    margin:10px;
    margin-left: 5px;
    text-align: center;
    padding-bottom: 0px;
    box-shadow: 10px 10px 5px grey;
}


#gradient1 {
    height: 170px;
    background: #F3774D; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(darkgray,#F3774D ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(darkgray, #F3774D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(darkgray, #F3774D); /* For Firefox 3.6 to 15 */
    background: linear-gradient(darkgray, #F3774D); /* Standard syntax (must be last) */
    
}
footer {
    clear: both;
	height: 170px;
	width:1875px;
	//background-color:darkgray;
	//color:rgb(102,102,153);
	text-align:center;
	//border-width:5px;
	//border-color:black;
		}
#footerArea{
    box-shadow: 10px 10px 5px grey;
}


a[href^="tel:"] {

color: rgb(102,102,153);

text-decoration: none;

margin-right: 0.5em;

}

/*Media Queries*/

@media screen and (max-width: 699px) and (min-width: 520px) {
    
  #left{
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin:5px;
    margin-left: 9px;
    margin-right:175px;
}

#center{
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin: 5px;
    margin-left: 9px;
    margin-right: 285px;
}

#right{
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin:5px;
    margin-left:0px;
    
}  
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
 
#left {
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin:5px;
    margin-left: 9px;
    margin-right:105px;
}

#center {
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin: 5px;
    margin-left: 9px;
    margin-right: 205px;
}

#right{
    background-color:#2ABDC7;
    border:  6px ridge #2ABDC7;
    outline: 5px solid black;
    float: left;
    width:400px;
    height:600px;
    margin:5px;
    margin-left:0px;
    
}
}